<?xml version="1.0"?>
<config>
    <modules>
        <BranchLabs_AdminPasswordStrength>
            <version>1.0.0</version>
        </BranchLabs_AdminPasswordStrength>
    </modules>
    <global>
        <blocks>
            <branchlabs_adminpasswordstrength>
                <class>BranchLabs_AdminPasswordStrength_Block</class>
            </branchlabs_adminpasswordstrength>
        </blocks>
        <helpers>
            <branchlabs_adminpasswordstrength>
                <class>BranchLabs_AdminPasswordStrength_Helper</class>
            </branchlabs_adminpasswordstrength>
        </helpers>
        <models>
            <branchlabs_adminpasswordstrength>
                <class>BranchLabs_AdminPasswordStrength_Model</class>
            </branchlabs_adminpasswordstrength>
        </models>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <branchlabs_adminpasswordstrength>
                    <file>branchlabs/adminpasswordstrength.xml</file>
                </branchlabs_adminpasswordstrength>
            </updates>
        </layout>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <add_custom_admin_password_strength_validatior>
                        <class>BranchLabs_AdminPasswordStrength_Model_Observer</class>
                        <method>addValidationToForgotAdminPassword</method>
                    </add_custom_admin_password_strength_validatior>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <adminpasswordstrength>
                                            <title>Admin Password Strength Settings</title>
                                        </adminpasswordstrength>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <adminpasswordstrength>
            <adminpasswordstrength_group>
                <minimum_character_length>10</minimum_character_length>
            </adminpasswordstrength_group>
        </adminpasswordstrength>
    </default>
</config>
